body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
    background-color: #040608;
}

.card {
    width: 90%; /* Use percentage for responsiveness */
    max-width: 800px; /* Set a maximum width */
    border: 2px solid #f4077e;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.video-container {
    position: relative;
    flex: 1;
}

video {
    width: 100%;
    height: auto;
}

.photo {
    position: absolute;
    bottom: 0.5%;
    left: 0.5%;
    width: 20%; /* Use a percentage for responsiveness */
    max-width: 200px; /* Set a max width */
    border-radius: 5px;
}

.flute {
    position: absolute;
    bottom: 0.5%;
    right: 0.5%;
    width: 15%; /* Use a percentage for responsiveness */
    max-width: 150px; /* Set a max width */
    border-radius: 5px;
}

.peacock {
    position: absolute;
    top: -0.5%;
    right: 0.5%;
    width: 15%; /* Use a percentage for responsiveness */
    max-width: 150px; /* Set a max width */
    border-radius: 5px;
}

.messages {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw; /* Use viewport width for responsive font size */
    color: #f2edec;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    font-family: 'MyCustomFont', sans-serif;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('static\\Qwitcher_Grypen\\QwitcherGrypen-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#open-message {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0707db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    opacity: 0.75;
}

#open-message:hover {
    background-color: #04c0f4;
}

#open-message:focus {
    outline: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .messages {
        font-size: 6vw; /* Adjust font size for smaller screens */
    }

    .photo, .flute, .peacock {
        width: 25%; /* Make images larger relative to smaller screens */
    }
}

@media (max-width: 480px) {
    .messages {
        font-size: 8vw; /* Further adjust font size for very small screens */
    }

    #open-message {
        font-size: 16px; /* Adjust button font size */
        padding: 8px 16px; /* Adjust padding for smaller screens */
    }
}
